@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#0E103D ;
    color: #ffffff
}

.titulo{
    text-align: center;
    font-variant: small-caps;
    font-size: 3.5em;
}
h2{
    text-align: center;
}
.item{
    margin: 5px;
    background-color: #ce1d1d;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #000000;
}

section{
    border: 1px solid #000000;
    max-width: 400px;
    margin: 0 auto;
    background-color: #c0c0c0;
    display: grid;
}

.Grid1{
    grid-template-columns: 200px 200px;   
}
.Grid2{
    grid-template-columns:repeat(auto-fit,100px)
}
.Grid3{
    grid-template-columns: minmax(300px,1fr) 1fr;
}
.Grid4{
    grid-template-columns: repeat(3,1fr);
}
.Grid5{
    max-width: 700px !important;
    grid-template-columns: repeat(auto-fit,minmax(100px,auto));
}
.Grid6{
    max-width: 700px !important;
    grid-template-columns: repeat(auto-fill,minmax(100px,auto));
}
/*  */
.Gridrow{
    grid-template-columns: 1fr 1fr;
}
.Gridrow1{
    grid-template-rows: 100px 100px;
}
.Gridrow2{
    grid-template-columns:100px auto 50px ;
    grid-template-rows:100px 200px auto ;
}