body{
    background: url(https://cdn.pixabay.com/photo/2015/08/28/08/07/petronas-911581_1280.jpg) ;
    width: 96vw;
    height:97vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    
}
.box{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.box img{
    height: 100px;
    width: 170px;

/*     animation-name: voar;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275)(0.175, 0.885, 0.32, 1.275);
    animation-delay: 1.5s; 
    animation-iteration-count: infinite; 
    animation-direction: normal;
    animation-fill-mode:backwards;
    animation-play-state: running; */

    /* shorthand */
    animation: voar 1s linear infinite normal ;
}


@keyframes voar {
    0%{
        transform: translate(calc(96vw - 170px),0);
    }
    50%{
        transform: translate(200%,-50px);
    }

    100%{
        transform: translate(0,0);
    }
}
